.card-navigation-container {
  flex-grow: 1;
  display: flex;
  /* overflow: hidden; <-- CULPABLE ELIMINADO */
}

.nav-panel {
  flex-shrink: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-navigation-container[data-active-panel="B"] .nav-panel {
  transform: translateX(-100%);
}
