.sidebar-layout {
  display: flex;
  height: 100%;
}

.chat-list-sidebar {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-panel);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

.sidebar-shell {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; <-- CULPABLE ELIMINADO */
}
